@page "/{Id}"

<div class="text-center">
    <h6 class="display-6 my-3">
        it works on my machine ¯\_(ツ)_/¯
    </h6>
    <div class="mb-2">
        <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
    </div>
    @if (_certifiedImage != null)
    {
        <div>
            <img src="@_certifiedImage.Content" style="max-width: 75%"/>
            <p class="mt-5 lead">
                Certified on <ToLocal DateTime="@_certifiedImage.SigningDate" Format="dd mmm yyyy HH:MM:ss"></ToLocal>
            </p>
        </div>
    }
    else
    {
        <p class="mt-5 lead">
            Loading...
        </p>
    }
</div>

@inject ImageRepository ImageRepository

@code {
    [Parameter]
    public string Id { get; set; }
    
    private CertifiedImage _certifiedImage;

    protected override async Task OnInitializedAsync()
    {
        _certifiedImage = await ImageRepository.Load(new Guid(Id));
    }
}