@page "/"

<div class="text-center mt-5">
    <h4 class="display-4">¯\_(ツ)_/¯</h4>
    <h3 class="display-3 mt-5">
        Welcome to It Works On My Machine.org
    </h3>
    <h3 class="text-muted mt-4">
        the certification platform for your basically finished products
    </h3>

    <br/>
    <hr/>
    
    <p class="mt-5 lead">
        Upload a screenshot to get your work certified!
    </p>
    <br/>
    
    <div class="d-flex justify-content-center">
        <div class="col-3">
            <input class="form-control" type="file" id="formFile">
        </div>
    </div>
    
    <div class="d-flex justify-content-center">
        <div class="small mt-5 col-3">Disclaimer: the release has some weird issues right now, so the upload is a little flaky. It was working locally so if you have any issues, rest assured that it is basically done. We already showed it in the review and will do the remaining fixes next sprint, when there will be less pressure. ¯\_(ツ)_/¯</div>    
    </div>
</div>